.header {
  border-bottom: 1px solid #ececec;
  max-width: 1600px;
}
.header__container {
  position: relative;
  @media screen and (min-width: 480px) {
    width: var(--mobile);
  }

  @media screen and (min-width: 768px) {
    width: var(--tablet);
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

.header__web {
  font-family: var(--secondary-font);
  color: var(--text-web-header);
  @include font(26px, 700, 1.19, 0.03em);
  text-decoration: none;
  margin-right: 93px;
  @media screen and (min-width: 1200px) {
    font-size: 26px;
  }
}
.header__color {
  font-family: var(--secondary-font);
  color: var(--text-web-color);
  @include font(26px, 700, 1.19, 0.03em);
}
.header__logo {
  display: block;
  @media screen and (max-width: 767px) {
    padding: 16px 0;
  }

  &--black {
    color: var(--text-web-header);
  }

  @media screen and (min-width: 768px) {
    margin-right: 88px;
  }
}
.mobile-menu__button {
  position: absolute;
  top: 10px;
  right: 15px;
  z-index: 2;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  border: 0px;
  background-color: transparent;
  padding: 0px;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.mobile-menu__button .mobile-menu__icon-cross {
  display: none;
}

.mobile-menu__button:hover .mobile-menu__icon-cross,
.mobile-menu__button:focus .mobile-menu__icon-cross {
  fill: var(--accent-color);
}

.mobile-menu__button.is-open .mobile-menu__icon-cross {
  display: block;
  color: var(--primary-title-color);
}

.mobile-menu__button .mobile-menu__icon-menu {
  display: block;
  color: var(--primary-title-color);
}
.mobile-menu__button:hover .mobile-menu__icon-menu,
.mobile-menu__button:focus .mobile-menu__icon-menu {
  fill: var(--accent-color);
}
.mobile-menu__button.is-open .mobile-menu__icon-menu {
  display: none;
}

.menu {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  width: 100%;
  height: 100vh;

  padding: 48px 40px;

  background-color: rgba(255, 255, 255, 0.986);
  &.is-open {
    display: block;
    @media screen and (min-width: 768px) {
      display: flex;
    }
  }

  @media screen and (min-width: 768px) {
    display: flex;
    position: static;
    padding: 0;

    height: auto;
  }

  @media screen and (max-height: 380px) and (max-width: 320px) {
    padding: 15px 15px;
  }
}
