.solution {
  padding-top: 200px;
  padding-bottom: 200px;
}
.heroes {
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(196, 196, 196, 0.2)
    ),
    url(../images/mobile/Image-1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @media screen and (min-width: 1200px) {
    padding: 200px 0;
  }
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/mobile/Image-2x.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  @media screen and (min-width: 768px) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/tablet/Image-1x.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../image/tablet/Image-2x.jpg);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }

  @media screen and (min-width: 1200px) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/desktop/hero-back.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/desktop/hero-back@2x.jpg);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
}
.heroes__title {
  font-family: var(--primary-font);
  /* @include font(44px, 900, 1.36, 0.06em); */
  @include font(26px, 900, 1.61, 0.06em);
  text-align: center;
  text-transform: uppercase;
  color: var(--works-item);
  margin-bottom: 30px;
  @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: 1.36;
  }
}
.container {
  display: flex;
  width: 100%;
  padding: 0;
}
