:root {
  --text-primary: #212121;
  --text-web-header: #000;
  --text-web-color: #2196f3;
  --works-item: #fff;
  --team-text: #f5f4fa;
  --contact-link: #757575;
  --team-icon: #afb1b8;
  --footer-color: #2f303a;
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
}
